@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,700;1,800&display=swap');
/*font-family: 'Poppins', sans-serif;*/

*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;}
    a{
        text-decoration: none;
    }
    ul li{
        list-style-type: none;
    }


.Header
{
    width: 100%;
    height: 121px;
    background-color: #EAAE00;
}
.Header .container{
    width: 1200px;
    height: 100%;
    background-color:  #EAAE00;
    margin: 0 auto;
    padding: 0 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.Header-logo img{
    cursor: pointer ;
}
.Header-Menu .Menu{
    display: flex;
    align-items: center;
}


.Header-Menu .Menu li a{
    display: inline-block;
    padding: 10px 20px;
    font-size: 29px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    color: #fff;
}


.Search-field{
    height: 50px;
    width: 270px;
    padding: 0 10px;
    background-color: #ae8406;
    border: none;

}


.Search-field::placeholder{
    font-size: 24px;
    font-weight: 400;
    font-family:'Poppins', sans-serif;
    color: #fff;
    
}
.Search-item{
    position: relative;

}
.Search-btn{
    height: 50px;
    width: 70px;
    background-color: #00BFCB;
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.search-icon{
    font-size: 24px;
    color: #ffffff;

}


.div1{
    background-image: url(img/dog.png);
    background-position: right;
    background-repeat: no-repeat;
   

    height: 760px;
    width: 100%;
    background-color: #fcc302;
    position: absolute;
}
.head{
    width: 60%;
    height: auto;
    background-color: #fcc302;
    position: absolute;
    font-family:'Poppins', sans-serif ;
    margin-left: 80px;
    margin-top: 150px;
    
}
.head h1{
    position: relative; 
    font-size: 50px;
    color: #ffffff;

}

.head p{
    position: relative;
    color: #fff;
    font-size: 24px;
    margin-bottom: 50px;

}

.head a{
    position: relative;
    border: 2px solid white;
    border-radius: 5px;
    margin: 20px;
    margin-top: 40px;
    padding: 15px;
}
#a1{
    color: #fff;
    background-color: #00bec9;
}
#a2{
    color: #ffffff;
    background-color:#fcc302;
}
 
 

   
 